In [2]:
! pip install WorldCloud

Collecting WorldCloud
  Could not find a version that satisfies the requirement WorldCloud (from versions: )
No matching distribution found for WorldCloud

In [2]:
import os 
import pandas as pd

In [3]:
 os.system("dir")

0

In [19]:
df= pd.read_excel("/Users/smhasg/Desktop/Book1.xlsx")

In [22]:
df

,كد كالا,نام كالا,مبلغ كل,معدل في,تعداد-عدد,مبلغ,معدل في.1,تعداد-عدد.1,وارده,معدل في.2,تعداد,تعداد ابتداي دوره,موجودي ابتداي دوره
0,0090/0000/5250,MCB 052TRBC09-7-2RS,14136600,706830,20,0,NaN,0,0,NaN,0,20,14136600
1,0090/0000/9067,MCB 09067/195,156750,52250,3,0,NaN,0,0,NaN,0,3,156750
2,0090/0001/1749,MCB 11749/10,151628614,200302,757,0,NaN,0,0,NaN,0,757,151628614
3,0090/0001/1949,MCB 11949/10,47714472,139516,342,0,NaN,0,0,NaN,0,342,47714472
4,0090/0001/2040,MCB 1204,5005000,250250,20,0,NaN,0,0,NaN,0,20,5005000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
511,0090/1000/0235,B-85,6840800,3420400,2,0,NaN,0,0,NaN,0,2,6840800
512,0090/1000/1085,4PK-885,22146383,22146383,1,0,NaN,0,0,NaN,0,1,22146383
513,0090/1000/1130,4PK-930,29219582,596318,49,0,NaN,0,0,NaN,0,49,29219582
514,0090/1000/3163,6PK-1663,30402488,30402488,1,0,NaN,0,0,NaN,0,1,30402488
515,0090/1000/3164,LA 9/5*1500 CHINA,6360000,795000,8,0,NaN,0,0,NaN,0,8,6360000

In [38]:
cdf= df.drop(["كد كالا","معدل في.1","معدل في","مبلغ كل","معدل في.2","موجودي ابتداي دوره","مبلغ"],axis=1)

In [39]:
cdf.head(20)

,نام كالا,تعداد-عدد,تعداد-عدد.1,وارده,تعداد,تعداد ابتداي دوره
0,MCB 052TRBC09-7-2RS,20,0,0,0,20
1,MCB 09067/195,3,0,0,0,3
2,MCB 11749/10,757,0,0,0,757
3,MCB 11949/10,342,0,0,0,342
4,MCB 1204,20,0,0,0,20
5,MCB 1205,192,0,0,0,192
6,MCB 1206-K,70,0,0,0,70
7,MCB 1207-K,39,0,0,0,39
8,MCB 1208-K,36,0,0,0,36
9,MCB 1209-K,15,0,0,0,15
10,MCB 1210-K,36,0,0,0,36
11,MCB 1212-K,41,0,0,0,41
12,MCB 1212-K+H212,1,0,0,0,1
13,MCB 1213-K,6,0,0,0,6
14,MCB 1215-K,26,0,0,0,26
15,MCB 1217-K,8,0,0,0,8
16,MCB 1220-K,2,0,0,0,2
17,MCB 12649/10,897,0,0,0,897
18,MCB 1307-K,39,0,0,0,39
19,MCB 1313-K,11,0,0,0,11